* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fff1b6;
    --secondary-color: #f7b576;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* ==================== Common ==================== */
.container {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
