* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fff1b6;
    --secondary-color: #f7b576;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background-image: url(../img/background.jpg);
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

label {
    user-select: none;
}

/* ==================== Common ==================== */
/* .container {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
} */

a {
    color: black;
    text-decoration: none;
}

.btn {
    --height: 40px;
    display: inline-block;
    min-width: 150px;
    background: var(--secondary-color);
    border: none;
    border-radius: 40px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: var(--height);
    text-align: center;
    color: #ffffff;
}

/* ==================== Form ==================== */
.form {
    background-image: url(../img/pied-team.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* ==================== Form Sign Up ==================== */
.form__sign-up {
    width: 0%;
    height: 100%;
    padding: 50px;
    background-color: var(--primary-color);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.3s 0.3s;
}

.form__heading {
    opacity: 0;
    visibility: hidden;
    font-size: 3.6rem;
    font-weight: 600;
    transition: all linear 0.3s 0.5s;
}

.form__sign-up .form__group {
    opacity: 0;
    visibility: hidden;
    margin-top: 36px;
    transition: all linear 0.3s 0.5s;
}

.form__group--cta,
.form__group--term {
    display: flex;
    align-items: center;
}

.form__group--cta {
    justify-content: space-between;
}

.form__label {
    display: block;
    font-weight: 600;
}

.form__input[type="password"],
.form__input[type="email"],
.form__input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: transparent;
    outline: none;
    border: 2px solid #b4b2b2;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form__input::placeholder {
    font-weight: 600;
    color: #b4b2b2;
}

.form__input[type="checkbox"] {
    outline: none;
    border: none;
    background-color: #dfddb6;
}

.form__text {
    margin-left: 8px;
    font-weight: 600;
    color: #b4b2b2;
}

.form__text a {
    color: #8d8d8d;
}

.form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__btn--sign-up {
    font-size: 2rem;
}

.form__btn--sign-in {
    color: #8d8d8d;
    font-weight: 600;
}

.form__icon {
    margin-left: 4px;
}

/* ==================== Login ==================== */
.form__inner--sign-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 340px;
}

.form__inner--sign-up {
    position: absolute;
    top: 0;
    right: 0;
    left: calc(50% + 250px);
    height: 100%;
}

/* .form__inner:hover .form--login {
    width: 0;
    opacity: 0;
    visibility: hidden;
} */

.form--login {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: all linear 0.3s;
}

.form--login .form__group {
    margin: auto;
    width: calc(100% - 120px);
}

.login__heading {
    padding-top: 50px;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}

.login__input {
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */
}

.section-input {
    padding-left: 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #e3d9aa;
    width: 100%;
    /* background-color: var(--primary-color); */
    /* width: calc(100% - 150px); */
    height: 30px;
}

.login__pass {
    margin-top: 10px;
}

.login__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    /* font-weight: 600; */
}

.login__signup--link,
.login__checkbox--link {
    color: #000000;
}

.login__checkbox--remember {
    display: flex;
    align-items: center;
}

.login__checkbox--remember p {
    margin-left: 5px;
}

.login__btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login__signup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* padding-bottom: 40px; */
}

.login__signup--link {
    margin-left: 5px;
    text-decoration: underline;
}
